<section class="section">
  <h2>Our advantages</h2>
  <div class="container our-advantages">
    <ul class="list-our-advantages">
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>author's tours</p>
      </li>
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>individual approach</p>
      </li>
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>affordable prices</p>
      </li>
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>comfortable transfer</p>
      </li>
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>professional guides</p>
      </li>
      <li>
        <svg class="icon-star" width="24" height="24">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p>accommodation in hotels from 3+ *</p>
      </li>
    </ul>
  </div>
</section>
