<div
  class="backdrop is-hidden carpathians tour-backdrop"
  data-carpathians-modal
>
  <div class="modal container">
    <button
      class="close-btn tour-modal-close-btn"
      type="button"
      data-carpathians-modal-close
    >
      <svg class="close-icon" width="15" height="15">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- Slider main container -->
    <div class="carpathians-tour-swiper container-modal">
      <!-- If we need pagination -->
      <div class="swiper-pagination carpathians-swiper-pagination"></div>
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper tours-modal__list">
        <!-- Slides -->
        <li class="swiper-slide tour-modal__item first-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">1 day</p>
          <ul class="list-plan">
            <li><p>Departure from Lviv</p></li>
            <li><p>Dovbush rocks</p></li>
            <li><p>Lunch</p></li>
            <li><p>Tustan fortress</p></li>
            <li><p>Check-in</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item second-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">2 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Lake Synevyr</p></li>
            <li><p>Ecopark “Valley of Wolves”</p></li>
            <li><p>Lunch</p></li>
            <li><p>Excursion to Kolochava</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item third-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">3 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Shipit waterfall</p></li>
            <li><p>Gimba mountain</p></li>
            <li><p>Recreation</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item fourth-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">4 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Deer farm in Iza</p></li>
            <li><p>Warm waters in Velyatino</p></li>
            <li><p>Geographical center of Europe</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item fifth-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">5 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Ascent to Hoverla</p></li>
            <li><p>Recreation</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item sixth-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">6 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Hut-museum from the "Shadows of Forgotten Ancestors"</p></li>
            <li><p>Lunch</p></li>
            <li><p>Rafting of free time</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item seventh-day">
          <h3 class="tour-modal-title">Week in Carpathians</h3>
          <p class="tour-modal__item-day">7 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Dovbush trail</p></li>
            <li><p>Souvenir fair</p></li>
            <li><p>Lunch</p></li>
            <li><p>Probij waterfall</p></li>
            <li><p>Return to Lviv</p></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tour-modal-card">
      <p>UAH 9,999/person</p>
      <button type="button" data-tour-modal-close>Book a tour</button>
    </div>
  </div>
</div>
