<footer class="footer">
  <section class="footer-section">
    <h2>Contacts</h2>
    <div class="container footer-container">
      <div>
        <ul class="contacts">
          <li>
            <svg class="icon-place" width="40" height="40">
              <use href="./img/icons.svg#icon-place"></use>
            </svg>
            <p>Lviv, st Dorosheko, 44 k</p>
          </li>
          <li>
            <svg class="icon-phone" width="40" height="40">
              <use href="./img/icons.svg#icon-phone"></use>
            </svg>

            <a href="tel:+380971626790" class="cont-link link">
              +38 (097) 162 -67-90
            </a>
          </li>
          <li>
            <svg class="icon-email" width="40" height="40">
              <use href="./img/icons.svg#icon-email"></use>
            </svg>

            <a
              href="mailto:mandrykarpaty@gmail.com"
              class="cont-link link email"
            >
              mandrykarpaty@gmail.com
            </a>
          </li>
        </ul>
        <ul class="social">
          <li>
            <a href="">
              <svg class="social-icon telegram" width="40" height="40">
                <use href="./img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="social-icon instagram" width="40" height="40">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="social-icon facebook" width="40" height="40">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="created">
        <svg class="icon-copyright" width="16" height="16">
          <use href="./img/icons.svg#icon-copyright"></use>
        </svg>
        Created by LelekaSoft
      </p>
    </div>
  </section>
</footer>
