<section class="section gallery">
  <h2 id="gallery">Gallery</h2>
  <div class="container">
    <div class="gallery-swiper">
      <ul class="swiper-wrapper list-gallery-card">
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-1.png    1x,
                ./img/gallery/desktop-gallery-1@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-1.png    1x,
                ./img/gallery/tablet-gallery-1@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-1.png    1x,
                ./img/gallery/mobile-gallery-1@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-1.avif    1x,
                ./img/gallery/desktop-gallery-1@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-1.avif    1x,
                ./img/gallery/tablet-gallery-1@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-1.avif    1x,
                ./img/gallery/mobile-gallery-1@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-1.png"
              alt="gallery-1"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-2.png    1x,
                ./img/gallery/desktop-gallery-2@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-2.png    1x,
                ./img/gallery/tablet-gallery-2@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-2.png    1x,
                ./img/gallery/mobile-gallery-2@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-2.avif    1x,
                ./img/gallery/desktop-gallery-2@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-2.avif    1x,
                ./img/gallery/tablet-gallery-2@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-2.avif    1x,
                ./img/gallery/mobile-gallery-2@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-2.png"
              alt="gallery-2"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-3.png    1x,
                ./img/gallery/desktop-gallery-3@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-3.png    1x,
                ./img/gallery/tablet-gallery-3@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-3.png    1x,
                ./img/gallery/mobile-gallery-3@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-3.avif    1x,
                ./img/gallery/desktop-gallery-3@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-3.avif    1x,
                ./img/gallery/tablet-gallery-3@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-3.avif    1x,
                ./img/gallery/mobile-gallery-3@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-3.png"
              alt="gallery-3"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-4.png    1x,
                ./img/gallery/desktop-gallery-4@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-4.png    1x,
                ./img/gallery/tablet-gallery-4@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-4.png    1x,
                ./img/gallery/mobile-gallery-4@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-4.avif    1x,
                ./img/gallery/desktop-gallery-4@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-4.avif    1x,
                ./img/gallery/tablet-gallery-4@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-4.avif    1x,
                ./img/gallery/mobile-gallery-4@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-4.png"
              alt="gallery-4"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-5.png    1x,
                ./img/gallery/desktop-gallery-5@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-5.png    1x,
                ./img/gallery/tablet-gallery-5@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-5.png    1x,
                ./img/gallery/mobile-gallery-5@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-5.avif    1x,
                ./img/gallery/desktop-gallery-5@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-5.avif    1x,
                ./img/gallery/tablet-gallery-5@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-5.avif    1x,
                ./img/gallery/mobile-gallery-5@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-5.png"
              alt="gallery-5"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-6.png    1x,
                ./img/gallery/desktop-gallery-6@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-6.png    1x,
                ./img/gallery/tablet-gallery-6@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-6.png    1x,
                ./img/gallery/mobile-gallery-6@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-6.avif    1x,
                ./img/gallery/desktop-gallery-6@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-6.avif    1x,
                ./img/gallery/tablet-gallery-6@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-6.avif    1x,
                ./img/gallery/mobile-gallery-6@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-6.png"
              alt="gallery-6"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-7.png    1x,
                ./img/gallery/desktop-gallery-7@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-7.png    1x,
                ./img/gallery/tablet-gallery-7@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-7.png    1x,
                ./img/gallery/mobile-gallery-7@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-7.avif    1x,
                ./img/gallery/desktop-gallery-7@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-7.avif    1x,
                ./img/gallery/tablet-gallery-7@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-7.avif    1x,
                ./img/gallery/mobile-gallery-7@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-7.png"
              alt="gallery-7"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-8.png    1x,
                ./img/gallery/desktop-gallery-8@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-8.png    1x,
                ./img/gallery/tablet-gallery-8@2x.png 2x
              "
              type="image/png"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-8.png    1x,
                ./img/gallery/mobile-gallery-8@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-8.avif    1x,
                ./img/gallery/desktop-gallery-8@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="445"
              width="575"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-8.avif    1x,
                ./img/gallery/tablet-gallery-8@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-8.avif    1x,
                ./img/gallery/mobile-gallery-8@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-8.png"
              alt="gallery-8"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card hidden-tablet">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-9.png    1x,
                ./img/gallery/desktop-gallery-9@2x.png 2x
              "
              type="image/png"
              height="445"
              width="575"
              loading="lazy"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-9.png    1x,
                ./img/gallery/mobile-gallery-9@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/gallery/desktop-gallery-9.avif    1x,
                ./img/gallery/desktop-gallery-9@2x.avif 2x
              "
              type="image/avif"
              height="445"
              width="575"
              loading="lazy"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-9.avif    1x,
                ./img/gallery/mobile-gallery-9@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-9.png"
              alt="gallery-9"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card only-mob">
          <picture>
            <source
              srcset="
                ./img/gallery/mobile-gallery-10.png    1x,
                ./img/gallery/mobile-gallery-10@2x.png 2x
              "
              type="image/png"
              loading="lazy"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-10.avif    1x,
                ./img/gallery/mobile-gallery-10@2x.avif 2x
              "
              type="image/avif"
              loading="lazy"
            />
            <img
              src="./img/gallery/mobile-gallery-10.png"
              alt="gallery-10"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
      </ul>

      <div class="container-swiper-btns">
        <button title="switch-btn" class="switch-btn swiper-button-prev">
          <svg class="icon-switch-left" width="28" height="28">
            <use href="./img/icons.svg#icon-switch-left"></use>
          </svg>
        </button>
        <button title="switch-btn" class="switch-btn swiper-button-next">
          <svg class="icon-switch-right" width="28" height="28">
            <use href="./img/icons.svg#icon-switch-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
