<section class="section gallery">
  <h2>Gallery</h2>
  <div class="container">
    <!-- Slider main container -->
    <div class="gallery-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper list-gallery-card">
        <!-- Slides -->
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-1.png    1x,
                ./img/gallery/tablet-gallery-1@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-1.png    1x,
                ./img/gallery/mobile-gallery-1@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-1.png"
              alt="gallery-1"
              loading="lazy"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-2.png    1x,
                ./img/gallery/tablet-gallery-2@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-2.png    1x,
                ./img/gallery/mobile-gallery-2@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-2.png"
              alt="gallery-2"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-3.png    1x,
                ./img/gallery/tablet-gallery-3@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-3.png    1x,
                ./img/gallery/mobile-gallery-3@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-3.png"
              alt="gallery-3"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-4.png    1x,
                ./img/gallery/tablet-gallery-4@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-4.png    1x,
                ./img/gallery/mobile-gallery-4@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-4.png"
              alt="gallery-4"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-5.png    1x,
                ./img/gallery/tablet-gallery-5@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-5.png    1x,
                ./img/gallery/mobile-gallery-5@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-5.png"
              alt="gallery-5"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-6.png    1x,
                ./img/gallery/tablet-gallery-6@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-6.png    1x,
                ./img/gallery/mobile-gallery-6@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-6.png"
              alt="gallery-6"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-7.png    1x,
                ./img/gallery/tablet-gallery-7@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-7.png    1x,
                ./img/gallery/mobile-gallery-7@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-7.png"
              alt="gallery-7"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/gallery/tablet-gallery-8.png    1x,
                ./img/gallery/tablet-gallery-8@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/gallery/mobile-gallery-8.png    1x,
                ./img/gallery/mobile-gallery-8@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/gallery/mobile-gallery-8.png"
              alt="gallery-8"
              width="280"
              height="480"
              class="gallery-card-image"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-card only-mob">
          <img
            src="./img/gallery/mobile-gallery-9.png"
            alt="gallery-9"
            width="280"
            height="480"
            class="gallery-card-image"
          />
        </li>
        <li class="swiper-slide gallery-card only-mob">
          <img
            src="./img/gallery/mobile-gallery-10.png"
            alt="gallery-10"
            width="280"
            height="480"
            class="gallery-card-image"
          />
        </li>
      </ul>

      <!-- If we need navigation buttons -->
      <div class="container-swiper-btns">
        <button class="switch-btn swiper-button-prev">
          <svg class="icon-switch-left" width="28" height="28">
            <use href="./img/icons.svg#icon-switch-left"></use>
          </svg>
        </button>
        <button class="switch-btn swiper-button-next">
          <svg class="icon-switch-right" width="28" height="28">
            <use href="./img/icons.svg#icon-switch-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
