<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="header-logo" href="/">
        <svg class="icon-logo" width="40" height="40">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="menu-toggle mobile-menu-toggle-icon js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <img
          class="header-menu-burger"
          src="./img/burger-menu.svg"
          alt="burger-menu"
          width="40"
        />
      </button>
    </nav>
  </div>
</header>
