<div class="backdrop is-hidden hero" data-modal>
  <div class="modal container">
    <button class="close-btn" type="button" data-modal-close>
      <svg class="close-icon" width="15" height="15">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">Book a tour</h3>
    <p class="modal-text">
      You can leave your application here and our manager will call you within
      10 minutes
    </p>

    <form class="form">
      <input
        type="text"
        placeholder="Your name*"
        class="form-input modal-input"
      />
      <input
        type="text"
        placeholder="Phone number*"
        class="form-input modal-input"
      />

      <div class="container-checkbox">
        <input
          class="check-input visually-hidden"
          id="hoberla"
          type="checkbox"
          name="hoberla"
          value="true"
        />
        <label for="hoberla" class="check-label form-label">
          <span class="checkbox-span">
            <svg class="icon-checkmark" width="20" height="20">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <svg class="icon-checkbox" width="24" height="24">
              <use href="./img/icons.svg#icon-checkbox"></use>
            </svg>
          </span>
          Ascent to Hoverla
        </label>
      </div>

      <div class="container-checkbox">
        <input
          class="check-input visually-hidden"
          id="bukovel"
          type="checkbox"
          name="bukovel"
          value="true"
        />
        <label for="bukovel" class="check-label form-label">
          <span class="checkbox-span">
            <svg class="icon-checkmark" width="20" height="20">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <svg class="icon-checkbox" width="24" height="24">
              <use href="./img/icons.svg#icon-checkbox"></use>
            </svg>
          </span>
          Ski tour to Bukovel
        </label>
      </div>

      <div class="container-checkbox">
        <input
          class="check-input visually-hidden"
          type="checkbox"
          id="carpathians"
          name="carpathians"
          value="true"
        />
        <label for="carpathians" class="check-label form-label">
          <span class="checkbox-span">
            <svg class="icon-checkmark" width="20" height="20">
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
            <svg class="icon-checkbox" width="24" height="24">
              <use href="./img/icons.svg#icon-checkbox"></use>
            </svg>
          </span>
          Week in Carpathians
        </label>
      </div>

      <button class="modal-form-btn" type="submit">Call me</button>
    </form>
  </div>
</div>
