<section class="section hero-section">
  <load src="partials/header.html" />
  <div class="hero-content">
    <h1>Tours to <span class="tours-name">the Carpathians from Lviv</span></h1>
    <p class="hero-text">
      Journeys to the very heart of the Carpathians for those who want a real
      reboot
    </p>
    <button
      type="button"
      title="Book a tour"
      class="book-tour-btn"
      data-modal-open
    >
      Book a tour
    </button>
    <ul class="desktop social-list">
      <li class="item-social-list">
        <a
          href="https://web.telegram.org/a/"
          target="_blank"
          class="social-link"
        >
          <svg class="social-icon telegram" width="40" height="40">
            <use href="./img/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="item-social-list">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="social-link"
        >
          <svg class="social-icon instagram" width="40" height="40">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item-social-list">
        <a href="https://www.facebook.com" target="_blank" class="social-link">
          <svg class="social-icon facebook" width="40" height="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
