<div class="backdrop is-hidden hoverla tour-backdrop" data-hoverla-modal>
  <div class="modal container tours">
    <button
      class="close-btn tour-modal-close-btn"
      type="button"
      data-hoverla-modal-close
    >
      <svg class="close-icon" width="15" height="15">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="hoverla-tour-swiper container-modal">
      <ul class="swiper-wrapper tours-modal__list">
        <li class="swiper-slide tour-modal__item first-day">
          <h3 class="tour-modal-title">Ascent to Hoverla</h3>
          <p class="tour-modal__item-day">1 day</p>
          <ul class="list-plan">
            <li><p>Departure from Lviv</p></li>
            <li><p>Manyava Hermitage</p></li>
            <li><p>Manyava waterfall</p></li>
            <li><p>Arrival to Bukovel</p></li>
            <li><p>Check-in</p></li>
            <li><p>Dinner</p></li>
            <li><p>Evening by the fireplace</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item second-day">
          <h3 class="tour-modal-title">Ascent to Hoverla</h3>
          <p class="tour-modal__item-day">2 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>Ascent to Hoverla</p></li>
            <li><p>Dinner</p></li>
            <li><p>Reacretion</p></li>
            <li><p>Sauna</p></li>
            <li><p>Dinner</p></li>
          </ul>
        </li>

        <li class="swiper-slide tour-modal__item third-day">
          <h3 class="tour-modal-title">Ascent to Hoverla</h3>
          <p class="tour-modal__item-day">3 day</p>
          <ul class="list-plan">
            <li><p>Breakfast</p></li>
            <li><p>A walk around Bukovel</p></li>
            <li><p>Check out from the hotel</p></li>
            <li><p>Yaremche</p></li>
            <li><p>Arrival in Lviv</p></li>
          </ul>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>

    <div class="tour-modal-card">
      <p>UAH 4,499/person</p>
      <button type="button" title="Book a tour" data-tour-modal-close>
        Book a tour
      </button>
    </div>
  </div>
</div>
