<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-btn close-btn js-close-menu">
    <svg class="close-icon header-menu-close" width="20" height="20">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="container header-container">
    <a class="header-logo" href="">
      <svg class="icon-logo" width="40" height="40">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="mobile-menu">
        <li><a href="#about" class="link js-menu-link">About</a></li>
        <li><a href="#tours" class="link js-menu-link">Tours</a></li>
        <li><a href="#reviews" class="link js-menu-link">Reviews</a></li>
        <li><a href="#gallery" class="link js-menu-link">Gallery</a></li>
        <li><a href="#contacts" class="link js-menu-link">Contacts</a></li>
      </ul>
      <ul class="social-list">
        <li class="item-social-list">
          <a
            href="https://web.telegram.org/a/"
            target="_blank"
            class="social-link"
            alt="telegram"
          >
            <svg class="social-icon telegram" width="40" height="40">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="item-social-list">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="social-link"
            alt="instagram"
          >
            <svg class="social-icon instagram" width="40" height="40">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item-social-list">
          <a
            href="https://www.facebook.com"
            target="_blank"
            class="social-link"
            alt="facebook"
          >
            <svg class="social-icon facebook" width="40" height="40">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
