<section class="questions-section">
  <div class="container questions-container">
    <div class="questions-content">
      <div class="caption-content">
        <h2>Do you have any questions?</h2>
        <p class="questions-text">
          You can leave your questions here and our manager will call you back
          within 10 minutes
        </p>
      </div>
      <form class="questions-form">
        <ul class="inputs-list">
          <li>
            <input type="text" placeholder="Your name*" class="form-input" />
          </li>
          <li>
            <input type="text" placeholder="Phone number*" class="form-input" />
          </li>
          <li>
            <textarea
              placeholder="What would you like to know?"
              class="form-input"
            ></textarea>
          </li>
        </ul>

        <button type="button" class="btn-questions-form">Call me</button>
      </form>
    </div>
  </div>
</section>
