<section class="section reviews">
  <h2>Reviews</h2>
  <div class="container">
    <ul class="reviews-list">
      <li class="reviews-card">
        <div class="front">
          <img
            src="./img/reviews/avatar-1.png"
            alt="avatar"
            class="avatar"
            height="100"
            width="100"
          />
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/tablet-review-bg.png    1x,
                ./img/reviews/tablet-review-bg@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/reviews/mobile-review-bg.png    1x,
                ./img/reviews/mobile-review-bg@2x.png 2x
              "
              type="image/png"
              height="134"
              width="311"
            />
            <img
              src="./img/reviews/mobile-review-bg.png"
              alt="review-bg"
              class="review-bg"
              loading="lazy"
              height="134"
              width="311"
            />
          </picture>

          <div class="reviews-card-info">
            <div class="reviews-text">
              <h3>Maria</h3>
              <p>
                It was really cool! We saw everything - sun, snow, rain, fog!
                It's very exciting and interesting, you won't regret it - it's
                worth going and seeing everything with your own eyes. Everything
                is organized at the highest level.
              </p>
            </div>
            <button type="button" class="flip-btn">
              <svg class="icon-flip-btn" width="32" height="32">
                <use href="./img/icons.svg#icon-flip-btn"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="back">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/tablet-back-avatar-1.png    1x,
                ./img/reviews/tablet-back-avatar-1@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/reviews/mobile-back-avatar-1.png    1x,
                ./img/reviews/mobile-back-avatar-1@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/reviews/mobile-back-avatar-1.png"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </li>

      <li class="reviews-card">
        <div class="front">
          <img
            src="./img/reviews/avatar-2.png"
            alt="avatar"
            class="avatar"
            height="100"
            width="100"
          />
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/tablet-review-bg.png    1x,
                ./img/reviews/tablet-review-bg@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/reviews/mobile-review-bg.png    1x,
                ./img/reviews/mobile-review-bg@2x.png 2x
              "
              type="image/png"
              height="134"
              width="311"
            />
            <img
              src="./img/reviews/mobile-review-bg.png"
              alt="review-bg"
              class="review-bg"
              loading="lazy"
              height="134"
              width="311"
            />
          </picture>
          <div class="reviews-card-info">
            <div class="reviews-text">
              <h3>Ostap</h3>
              <p>
                Good organization, everything went smoothly. Friendly guide
                Taras told interesting facts about the area and customs
                throughout the tour.
              </p>
            </div>
            <button type="button" class="flip-btn">
              <svg class="icon-flip-btn" width="32" height="32">
                <use href="./img/icons.svg#icon-flip-btn"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="back">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/tablet-back-avatar-2.png    1x,
                ./img/reviews/tablet-back-avatar-2@2x.png 2x
              "
              type="image/png"
              height="134"
              width="354"
            />
            <source
              srcset="
                ./img/reviews/mobile-back-avatar-2.png    1x,
                ./img/reviews/mobile-back-avatar-2@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/reviews/mobile-back-avatar-2.png"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
