.container .list-our-advantages {
	background: url("../img/advantages/mobile-advantages-bg.png") 50% / auto auto no-repeat;
}
.list-our-advantages {
	padding: 84px 2px;
	display: flex;
	flex-direction: column;
	gap: 28px;

	li {
		display: flex;
		gap: 8px;
		padding: 8px 7px 8px 22px;
		align-items: center;
		background-color: #5b86a1;
		color: #f7fbfb;
		font-family: Montserrat;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;

		p {
			font-size: 14px;
		}
	}
}
.icon-star {
	fill: #f7fbfb;
	stroke: none;
}

@media (min-width: 768px) {
	.container .our-advantages {
		min-width: 768px;
	}
	.container .list-our-advantages {
		padding: 80px 62px;
		gap: 20px;
		background:
			url("../img/advantages/tablet-advantages-bg1.png") 0 0/354px no-repeat,
			url("../img/advantages/tablet-advantages-bg2.png") bottom right/354px no-repeat;

		li {
			padding: 12px 44px;
			.icon-star {
				width: 40px;
				height: 40px;
			}
			p {
				font-size: 20px;
			}
		}
	}
}

@media (min-width: 1440px) {
	.container .our-advantages {
		min-width: 1440px;
	}
	.container .list-our-advantages {
		padding: 80px 270px;
		gap: 0;
		width: 1170px;
		height: 668px;
		background:
			url("../img/advantages/desktop-advantages-bg1.png") 0 0 / 377px no-repeat,
			url("../img/advantages/desktop-advantages-bg2.png") center / 377px no-repeat,
			url("../img/advantages/desktop-advantages-bg3.png") bottom right / 377px no-repeat;

		li {
			height: 64px;
			padding: 12px 0 12px 126px;
			gap: 12px;
			width: 630px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
			&:nth-child(3) {
				margin-bottom: 28px;
			}
			.icon-star {
				width: 40px;
				height: 40px;
			}

			p {
				font-size: 24px;
			}
		}
	}
}
