.bukovel {
	.first-day {
		background:
			url("/img/bukovel/bukovel-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
			url("/img/bukovel/bukovel-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
	}
	.second-day {
		background:
			url("/img/bukovel/bukovel-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
			url("/img/bukovel/bukovel-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
	}
	.third-day {
		background:
			url("/img/bukovel/bukovel-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
			url("/img/bukovel/bukovel-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
	}
	.fourth-day {
		background:
			url("/img/bukovel/bukovel-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
			url("/img/bukovel/bukovel-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
	}
}

.bukovel-swiper-pagination-bullet {
	border-radius: 50%;
	background-color: #a3a5a3;
	height: 12px;
	width: 12px;

	&.swiper-pagination-bullet-active {
		background-color: #f7fbfb;
	}
}

.bukovel-progress {
	background-color: #f7fbfb;
}

@media (min-width: 768px) {
	.bukovel {
		.first-day {
			background:
				url("/img/bukovel/tablet-bukovel-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/tablet-bukovel-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
		}
		.second-day {
			background:
				url("/img/bukovel/tablet-bukovel-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/tablet-bukovel-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
		}
		.third-day {
			background:
				url("/img/bukovel/tablet-bukovel-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/tablet-bukovel-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
		}
		.fourth-day {
			background:
				url("/img/bukovel/tablet-bukovel-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/tablet-bukovel-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
		}
	}
}
@media (min-width: 1440px) {
	.bukovel {
		.first-day {
			background:
				url("/img/bukovel/desktop-bukovel-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/desktop-bukovel-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
		}
		.second-day {
			background:
				url("/img/bukovel/desktop-bukovel-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/desktop-bukovel-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
		}
		.third-day {
			background:
				url("/img/bukovel/desktop-bukovel-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/desktop-bukovel-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
		}
		.fourth-day {
			background:
				url("/img/bukovel/desktop-bukovel-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
				url("/img/bukovel/desktop-bukovel-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
		}
	}
	.bukovel-swiper-pagination-bullet {
		height: 16px;
		width: 16px;
	}
}
