.carpathians {
	.first-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
	}
	.second-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
	}
	.third-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
	}
	.fourth-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
	}
	.fifth-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-5.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-5.png") 0 0 / 100% 100% no-repeat;
	}
	.sixth-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-6.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-6.png") 0 0 / 100% 100% no-repeat;
	}
	.seventh-day {
		background:
			url("/img/carpathians/carpathians-modal-bg-7.avif") 0 0 / 100% 100% no-repeat,
			url("/img/carpathians/carpathians-modal-bg-7.png") 0 0 / 100% 100% no-repeat;
	}

	.swiper-pagination {
		width: 170px;
		bottom: 20px;
	}
	.list-plan {
		margin-bottom: 142px;
	}
}

.carpathians-swiper-pagination-bullet {
	border-radius: 50%;
	background-color: #a3a5a3;
	height: 12px;
	width: 12px;

	&.swiper-pagination-bullet-active {
		background-color: #f7fbfb;
	}
}

.carpathians-progress {
	background-color: #f7fbfb;
}

@media (min-width: 768px) {
	.carpathians {
		.first-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
		}
		.second-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
		}
		.third-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
		}
		.fourth-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
		}
		.fifth-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-5.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-5.png") 0 0 / 100% 100% no-repeat;
		}
		.sixth-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-6.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-6.png") 0 0 / 100% 100% no-repeat;
		}
		.seventh-day {
			background:
				url("/img/carpathians/tablet-carpathians-modal-bg-7.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/tablet-carpathians-modal-bg-7.png") 0 0 / 100% 100% no-repeat;
		}
	}
}

@media (min-width: 1440px) {
	.carpathians {
		.first-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-1.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-1.png") 0 0 / 100% 100% no-repeat;
		}
		.second-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-2.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-2.png") 0 0 / 100% 100% no-repeat;
		}
		.third-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-3.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-3.png") 0 0 / 100% 100% no-repeat;
		}
		.fourth-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-4.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-4.png") 0 0 / 100% 100% no-repeat;
		}
		.fifth-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-5.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-5.png") 0 0 / 100% 100% no-repeat;
		}
		.sixth-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-6.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-6.png") 0 0 / 100% 100% no-repeat;
		}
		.seventh-day {
			background:
				url("/img/carpathians/desktop-carpathians-modal-bg-7.avif") 0 0 / 100% 100% no-repeat,
				url("/img/carpathians/desktop-carpathians-modal-bg-7.png") 0 0 / 100% 100% no-repeat;
		}
		.carpathians-swiper-pagination {
			width: 184px;
		}
		.carpathians-swiper-pagination-bullet {
			width: 16px;
			height: 16px;
		}
	}
}
