.footer {
	background: #202321;
	color: #f7fbfb;
	h2 {
		font-size: 28px;
		@media (width >= 768px) {
			font-size: 32px;
		}
		@media (width >= 1440px) {
			font-size: 60px;
		}
	}
}

.container.footer-container {
	@media (max-width: 330px) {
		padding-left: 20px;
	}
	@media (max-width: 767px) {
		padding-left: 44px;
	}
	@media (width >= 1440px) {
		min-width: 784px;
		width: 784px;
		margin: auto;
	}
}

.footer-wrapper {
	@media (width >= 768px) {
		display: flex;
		gap: 137px;
		justify-content: space-between;
		width: 582px;
		margin: auto;
	}
	@media (width >= 1440px) {
		gap: 128px;
		width: 784px;
		margin: 0;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
	@media (width >= 1440px) {
		gap: 40px;
		margin-bottom: 40px;
	}
	li {
		display: flex;
		gap: 4px;
		align-items: center;
		@media (width >= 768px) {
			gap: 8px;
		}

		a {
			padding: 6px 0;
			@media (width >= 768px) {
				font-size: 18px;
				padding: 9px 0;
			}
			@media (width >= 1440px) {
				font-size: 24px;
				padding: 6px 0 5px 0;
			}
		}
	}
}

.contacts svg {
	stroke: none;
	fill: #f7fbfb;
}
.footer-section {
	padding: 40px 0;
	@media (width >= 1440px) {
		padding: 60px 0 48px;
	}
}

.social {
	display: flex;
	gap: 32px;
}
.created,
.creater {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #a3a5a3;
}
.created {
	margin-top: 40px;
	@media (width >= 1440px) {
		margin-top: 64px;
	}
}
.creater {
	font-size: 18px;
	margin-top: 20px;
	color: lightblue;
	&:hover {
		color: #5b86a1;
	}
}
.icon-copyright {
	stroke: #a3a5a3;
}
