.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	outline: none;
}

.nav {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}
@media (min-width: 768px) {
	.nav {
		padding-top: 24px;
	}
}

@media (min-width: 1440px) {
	.menu-toggle {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}
