.hero-section {
	display: flex;
	flex-direction: column;
	color: #f7fbfb;
	font-family: Montserrat;
	text-align: center;
	align-items: center;

	background:
		url("../img/hero_desk_normal.avif") 50% / cover no-repeat,
		url("../img/hero_desk_normal.png") 50% / cover no-repeat;
	h1 {
		width: 311px;
		text-transform: uppercase;

		font-size: 40px;
		font-weight: 400;
	}

	.hero-text {
		width: 315px;
		margin: 60px 0px 88px;
		font-weight: 500;
	}

	.book-tour-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 285px;
		height: 52px;
		padding: 10px;
		color: #f7fbfb;
		background: #5b86a1;
		border: none;
		&:hover {
			background: var(--primary-text);
		}
		@media (width>767) {
			height: 56px;
		}
	}
	.hero-content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 128px 0px 193px;
	}
}

@media (max-width: 339px) {
	.hero-section {
		h1 {
			width: 285px;
		}
		.hero-text {
			width: 270px;
		}
		.book-tour-btn {
			width: 235px;
		}
	}
}

@media (min-width: 768px) {
	.hero-section {
		.hero-content {
			min-width: 728px;
			margin: auto;
			padding: 96px 0px 185px;
		}

		h1 {
			font-size: 68px;
			width: 728px;
		}
		.hero-text {
			font-size: 20px;
			width: 470px;
			margin: 40px 0 60px;
		}

		.book-tour-btn {
			font-size: 20px;
			width: 394px;
			&:hover {
				background: var(--primary-text);
			}
		}
	}
}
@media (width > 767px) and (width < 1440px) {
	.tours-name {
		display: inline-block;
	}
}

@media (min-width: 1440px) {
	.hero-section {
		.hero-content {
			min-width: 728px;
			min-width: 728px;
			margin: auto;

			padding: 162px 0px 293px;
		}

		h1 {
			font-size: 88px;
			width: 1170px;
		}

		.hero-text {
			font-size: 28px;
			width: 675px;
			margin: 40px 0 60px;
		}

		.book-tour-btn {
			font-size: 24px;
			width: 575px;
			height: 69px;
		}
	}
}
.desktop.social-list {
	position: absolute;
	right: 0;
	bottom: 191px;
	@media (width < 1440px) {
		display: none;
	}
	.item-social-list {
		height: 40px;
	}
}
